<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybits-3-mapper.dtd">
<!-- 하나의 Mapper파일은 하나의 테이블을 작업하는 SQL의 모임 -->
<!-- namespace->패키지명과 유사 -->
<!-- 패키지명.mapper.테이블이름 -->
<mapper namespace="com.aaa.bbb.mapper.BoardMapper"	
	<!-- 데이터베이스 작업에 필요한 질의어 구성 -->
	      <!-- 태그명(질의어) id=그룹이름~~~안에 질의어를 작성 -->
	<!-- #DTO에 있는 변수명 -->
	<!-- 삽입 -->
	<insert id="create"> <!-- id는 사용자 맘대로, create,insert -->
		INSERT INTO board(name,price) VALUES (#{name},#{price})
	</insert>
	<!-- 조회 --> 
	<!-- id는 ListAll, ListOne -->
	<!-- resultType=데이터베이스 처리 후 결과값을 저장형태 -->
	<!-- select 반드시 DTO 클래스명으로 선언 -->
	<select id="allList" resultType = "sampleVO">
		SELECT * from board
	</select>
	<select id="whereList" resultType = "sampleVO"> <!-- 조건조회 -->
		SELECT * from board ORDER BY name = #{name}
	</select>
	<select id ="ascList" resultType="sampleVO"> <!-- 오름차순 -->
		SELECT * from board ORDER BY name ASC
	</select>
	
	<select id ="descList" resultType="sampleVO"> <!-- 내림차순 mapper: 데이터베이스 관련 작업-->
		SELECT * from board ORDER BY name DESC
	</select>
	<!-- 수정 -->
	<update id="update">
		UPDATE board SET name=#{name}, price=#{price} WHERE name=#{name}
	</update>
	<!-- 삭제 -->
	<delete id="delete">
		DELETE FROM board WHERE name=#{name}
	</delete>
	<!-- insert,update,delete,select문을 이용하면 sql -->
	<SQL id="search">
		<if test="searchType ! = null">
			AMD title Like CONCAT("%", #{search}, "%")
		</if>
	</SQL>
	</mapper>